@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: Montserrat, system-ui, Arial, Helvetica, sans-serif;
}

main {
  margin: 16px auto;
  background-color: #fafafa;
  color: #0a0a0a;
}

main > section {
  margin: 32px;
  padding: 16px;
}

.details {
  width: max(100px, 30%);
}