@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: Montserrat, system-ui, Arial, Helvetica, sans-serif;
}

main {
  margin: 16px;
  background-color: #fafafa;
  color: #0a0a0a;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 12px 32px;
  border-radius: 10px;
}

.details {
  padding-right: 20px;
}