section.input-field {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    min-width: 300px;
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  input{
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  input {
    border: 1px solid #6c63ff;
    outline: none;
  }