.resume {
  border: 5px solid black;
  border-radius: 5px;
}

.resume h2 {
  text-align: center;
}

.contact img {
  max-width: 1rem;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.contact div {
  display: flex;
  align-items: center;
  margin: 0 16px;
  gap: 6px;
}

.resume hr {
  margin: 16px;
}

.bold {
  font-weight: bold;
}

.left-right {
  display: flex;
  justify-content: space-between;
}

.left-right {
  margin: 0 16px;
}

.experience > p {
  margin: 16px;
}

.left-right p {
  margin: 0;
}
